.full-width{
    width: 100%;
    display:block;
    margin-bottom: 1rem;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}