<div class="login-container">
    <h2>Iniciar Sesión</h2>

    <form (ngSubmit)="login()" #loginForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input
            matInput
            type="text"
            name="username"
            [(ngModel)]="username"
            required
            placeholder="Ingrese usuario"        
        />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input
                matInput
                type="password"
                name="password"
                [(ngModel)]="password"
                required
                placeholder="Ingrese contraseña"
            />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div>
